<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form name="updateForm" action="/books/updateBook" method="POST" >
        <input type="text" name="title" id="">
        <input type="submit" name="" id="">
    </form>
</body>
</html>